<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- youtubedl-android declares minSdk 24; we deliberately run on 23 to reproduce #304 -->
    <uses-sdk tools:overrideLibrary="com.yausername.youtubedl_android,com.yausername.youtubedl_common,com.yausername.ffmpeg" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:label="ytdlrepro"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SponsorBlockActivity" android:exported="true" />
    </application>
</manifest>
